.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

table td {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  text-align: center;
}

button {
  width: 150px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: brown;
  text-align: center;
  color: white;
}
